*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../src/AutorizatePicture.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed, fixed;
}
form{
    display: flex;
    flex-direction: column;
    width: 400px;
    
}
input{
    margin: 10px 0;
    border: unset;
    border-bottom: 2px solid activecaption;
    outline: none;
   background: none;
}
a{
    margin: 0;
    color:cadetblue;
    text-decoration: none;
    text-align: center;
}
#text{
    align-content: center;
    
}
.mg{
    margin: 10px 0 0 0;
    font-weight: bold;
    text-align: center;
}
h1{
    text-align: center;
}
.btn-reg{
    padding: 2px;
    border-radius: 1px;
    background: none;
    
}